@import "tailwindcss";


/* Import SF Pro Font */
@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "SF Pro", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Poppins:wght@400;600;700&display=swap');


@keyframes aurora {
  0%, 100% { transform: translateX(-10%) translateY(0) rotate(0deg); }
  50% { transform: translateX(10%) translateY(10px) rotate(1deg); }
}

.animate-aurora {
  animation: aurora 15s ease-in-out infinite;
}



/* Custom Scrollbar for Chat */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #eaff04;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
